<div id="info">
	<%=image_tag @movie.thumbnail %>
	<span><%= @movie.title %></span>
	<div><%=link_to "元リンク", @movie.url %> <small>from</small> <%= @movie.provider %></div>
</div>

<div id="player">
	<% case @movie.provider %>
	<% when "youtube" %>
		<iframe width="700" height="394" src="//www.youtube.com/embed/<%= @movie.videoid %>" frameborder="0" allowfullscreen></iframe>
	<% when "niconico" %>
		<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= @movie.videoid %>?w=700&h=394"></script>
	<% when "vimeo" %>
		<iframe src="//player.vimeo.com/video/<%= @movie.videoid %>" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<% when "fc2" %>
		<script src="http://static.fc2.com/video/js/outerplayer.min.js" url="http://video.fc2.com/ja/content/<%=@movie.videoid%>/" tk="" tl="<%= @movie.title %>" sj="31000" d="" w="700" h="394" charset="UTF-8"></script>
		<script type="text/javascript">
			$(function() {
				$(window).load(function(){
					$("#player div").css({"max-width":"100%", "height":"auto !important"})
				});
			});
		</script>
	<% else %>
		Sorry, This video is not supported.
	<% end %>
</div>