<div class="container" id="movies-container">
	<% @movie_providers.each do |provider| %>
		<div id="<%= provider %>">
			<%= provider %>
			<ul class="row movies">
				<% eval("@#{provider}_movies").each do |movie| %>
						<li class="col-md-3 movie">
							<%= image_tag movie.thumbnail,{ style: "width:100%"} %>
							<%= movie.title%>
							<%= movie.videoid %>
						</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>