<% @movie_providers.each do |provider| %>
	<div id="<%= provider %>">
		<h1><%= provider %></h1>
		<ul class="row movies">
			<% eval("@#{provider}_movies").each do |movie| %>
				<li class="col-md-3 movie-list">
					<div class="data">
						<%= image_tag movie.thumbnail,{ class: "img-responsive movie-img"} %>
						<div class="detail-box">
							<div class="title">
								<p><%= movie.title%></p>
							</div>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		<p class="text-right">
			<%= provider %>で本日人気の動画
		</p>
	</div>
<% end %>