<div class="navbar navbar-default navbar-fixed-top navbar-gray" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>">サイト別人気動画</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" id="show-date">
          <span class="year" style="font-size:24px;"><%=search_date.year%></span>年
          <span class="month" style="font-size:24px;"><%=search_date.month%></span>月
          <span class="day" style="font-size:24px;"><%=search_date.day%></span>日 <span class="caret"></span>
        </a>
      <%# TODO: 日付のリストの表示%>
        <ul class="dropdown-menu date-list" role="menu" aria-labelledby="dLabel">
          <% (Movie.first.created_at.to_date..Date.today).reverse_each do |date| %>
            <li class="date <%= 'active' if date == search_date %>">
              <%=link_to date.strftime('%Y/%m/%d'), date_path(date.year, date.month, date.day) %>
            </li>
          <% end %>
       </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%=link_to "ALL", "#all", {class: "filter", data: {:filter => 'all'}} %>
        </li>
        <li>
          <%=link_to "Youtube", "#youtube", {class: "filter", data: {:filter => 'youtube'}} %>
        </li>
        <li>
          <%=link_to "ニコニコ動画", "#niconico", {class: "filter", data: {:filter => "niconico"}} %>
        </li>
        <li>
          <%=link_to "Vimeo", "#vimeo", {class: "filter", data: {:filter => "vimeo"}} %>
        </li>
        <li>
          <%=link_to "FC2", "#fc2", {class: "filter", data: {:filter => "fc2"}} %>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><%=link_to "ランダム再生", random_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>