<div class="navbar navbar-inverse navbar-fixed-top navbar-gray" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>">みどころサイト別人気動画</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown">
            <span class="year" style="font-size:24px;">2013</span>年
             <span class="month" style="font-size:24px;">12</span>月
             <span class="day" style="font-size:24px;">14</span>日 <span class="caret"></span>
          </a>
          <%# TODO: 日付のリストの表示%>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class=""><a href="#ho">aaa</a></li>
          </ul>
        </li>
        <li><%=link_to "Youtube", provider_path("youtube") %> </li>
        <li><%=link_to "ニコニコ動画", provider_path("niconico") %> </li>
        <li><%=link_to "Vimeo", provider_path("vimeo") %> </li>
        <li><%=link_to "FC2", provider_path("fc2") %> </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><%=link_to "ランダム再生", random_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>