<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
       <a class="navbar-brand" href="<%= root_path %>">デイリー人気動画</a>
    </div>

    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" id="show-date">
            <span class="year"><%= search_date.year %></span>年
            <span class="month"><%= search_date.month %></span>月
            <span class="day"><%= search_date.day %></span>日 <span class="caret"></span>
          </a>
        <%# TODO: 日付のリストの表示%>
          <ul class="dropdown-menu date-list" role="menu" aria-labelledby="dLabel">
            <% (Movie.first.created_at.to_date..Date.today).reverse_each do |date| %>
              <li class="date <%= 'active' if date == search_date %>">
                <%=link_to date_path(date.year, date.month, date.day) do %>
                  <span class="date year" style="font-size:18px;"><%= date.year %></span>年
                  <span class="date month" style="font-size:18px;"><%= date.month %></span>月
                  <span class="date day" style="font-size:18px;"><%= date.day %></span>日
                <% end %>
              </li>
            <% end %>
         </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li>
          <%=link_to "ALL", "#all", class: "filter", data: {filter: 'all'} %>
        </li>
        <li>
          <%=link_to "おまかせ", random_path %>
        </li>
        <li>
          <%=link_to "Youtube", "#youtube", class: "filter", data: {filter: 'youtube'} %>
        </li>
        <li>
          <%=link_to "ニコニコ動画", "#niconico", class: "filter", data: {filter: "niconico"} %>
        </li>
        <li>
          <%=link_to "Vimeo", "#vimeo", class: "filter", data: {filter: "vimeo"} %>
        </li>
        <li>
          <%=link_to "FC2", "#fc2", class: "filter", data: {filter: "fc2"} %>
        </li>
      </ul>
    </div><!--/.nav-collapse-->
  </div>
</div>